{
  "extends": "react-app",
  "rules": {
    "no-restricted-globals": 0,
    "no-useless-constructor": 0,
    "no-extend-native": 0,
    "parserOptions": {
      "ecmaFeatures": {
        "legacyDecorators": true
      }
    }
  }
}